/* -------------- FONTS ---------------- */
$font: 'Outfit', sans-serif;
$font-w-thin: 100;
$font-w-extralight: 200;
$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semibold: 600;
$font-w-bold: 700;
$font-w-extrabold: 800;
$font-w-black: 900;

/* ------------- OPTIONS -------------- */
$radius: 10px;

/* -------------- COLORS --------------- */
$primary: #092143;
$secondary: #FBBC34;
$gray: gray;
$gray-1: #D9D9D9;
$gray-2: #F0F0F0;
