@use 'color-scheme' as theme;

.mobile {
    display: none;
}

.ordinateur {
    display: block;
}

@media (max-width: 1280px) {
    .mobile {
        display: block;
    }

    .ordinateur {
        display: none;
    }
}
